<p id="notice"><%= notice %></p>

<h1><%= Apartment::Tenant.current %></h1>

<hr>

<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Schema name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <a href="http://<%= user.schema_name %>.comunikapp.dev:3000/projects" target="_blank">
            <%= user.schema_name %>
          </a>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Projects</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%#= project.user.email %></td>
        <td><%= project.title %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
